.Weather {
  border: 1px solid #dadde1;
}

.Update {
  color: #70757a;
  font-size: 16px;
  position: relative;
  left: 5px;
}

.temperature {
  font-size: 40px;
  font-weight: 400;
  font-family: Google Sans, arial, sans-serif;
  color: #202124;
}

.units {
  position: relative;
  top: -23px;
}
